body {
    background-color: black;
    color: #fff;
}

header {
    background-color: #2c2828;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: sticky;
    transition: background-color 0.3s ease;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header:hover {
    background-color: #3e3a3a;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: font-size 0.3s ease;
}

header nav ul li a:hover {
    font-size: 1.2em;
}

.header-title {
    font-size: 5em; /* Aumenta el tamaño de la fuente */
    text-align: center;
}

.re-color {
    color: blue;
    font-size: 5em; /* Aumenta el tamaño de la fuente de 'Re' */
}

.max-color {
    color: red;
    font-size: 5em; /* Aumenta el tamaño de la fuente de 'Max' */
}

.separator {
    color: white;
    margin: 0 10px;
    font-size: 5em; /* Aumenta el tamaño de la fuente del separador */
}

.moon {
    font-size: 5em; /* Ajusta el tamaño de la fuente de 'MOON' */
}

.row {
    display: grid;
}

.col-md-6 {
    display: grid;
}

.imagen {
    width: 50vw;
}

.descripcion {
    color: #fff;
}

.titulo {
    text-align: center;
    font-size: 200%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 1rem;
    padding-right: 8rem;
}

.sub {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 110%;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 8rem;
}

section {
    padding: 20px;
    text-align: center;
}

/* Estilo para el contenedor de texto compacto */
.compact-text {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#servicios ul {
    list-style-type: none;
    padding: 0;
}

#servicios li {
    margin-bottom: 40px;
}

#servicios p {
    margin: 10px 0;
}

#portafolio h2 {
    margin-bottom: 80px;
}

.portafolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    z-index: 1;
}

.producto {
    text-align: center;
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding-bottom: 20px;
}

.producto img {
    width: 100%;
    max-width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto img:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.texto-producto {
    margin-top: 10px;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.producto img:hover + .texto-producto {
    transform: translateY(20px);
}

#vendedores h2 {
    margin-bottom: 80px;
}

#vendedores {
    padding: 20px;
    text-align: center;
}

.vendedores-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
}

.vendedor img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}

.vendedor h3 {
    margin-top: 10px;
}

.vendedor p {
    font-style: italic;
    color: #555;
}

.vendedor {
    position: relative;
    display: inline-block;
}

.texto-flotante {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.vendedor:hover .texto-flotante {
    opacity: 1;
}

.carousel-item.active, .carousel-item-start {
    display: grid !important;
}

.grid-2c.active,
.grid-2c.carousel-item.active,
.grid-2c.carousel-item-start,
.grid-2c.carousel-item-next {
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.carousel {
}

.imagen-column {
    width: 100%;
}

#inicio p {
    margin-bottom: 90px;
}

#contacto {
    background-color: #731c1c;
    padding: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

#contactoForm {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contactoForm label {
    display: block;
    margin-bottom: 5px;
}

#contactoForm input[type="text"],
#contactoForm input[type="email"],
#contactoForm textarea,
#contactoForm select {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contactoForm button {
    background-color: #333;
    color: #fff;
    width: 100%;
    max-width: 500px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 30px;
}

#contactoForm button:hover {
    background-color: #555;
}

#inicio p {
    margin-bottom: 40px;
}

footer {
    background-color: #2c2828;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 600px) {
    #contacto {
        padding: 20px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    #contacto {
        padding: 30px;
    }
}

@media (min-width: 901px) {
    #contacto {
        padding: 40px;
    }
}